In [1]:
#Load Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [6]:
#Load in Data
teams_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/team.csv")
player_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/player.csv")
stadium_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/stadium.csv")
conference_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/conference.csv")
game_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/game.csv")
game_attendance_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/game-statistics.csv")
pass_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/pass.csv")
rush_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/rush.csv")
game_statistics_df = pd.read_csv("Data/cfbstats-com-2013-1-5-20/team-game-statistics.csv")

,Player Code,Team Code,Last Name,First Name,Uniform Number,Class,Position,Height,Weight,Home Town,Home State,Home Country,Last School
0,1022870,5,Alexander,Bill,21,SR,CB,68.0,172.0,Whigham,GA,US,George Washington Carver HS
1,1022862,5,Alexander,Broderick,2,SR,FB,72.0,225.0,Covington,GA,US,Eastside HS
2,1046129,5,Allen,Christian,49,FR,FB,72.0,249.0,Morgantown,WV,US,Morgantown HS
3,1035204,5,Allen,Jeff,46,JR,DL,74.0,262.0,Morgantown,WV,US,Coastal Carolina/Morgantown HS
4,1030820,5,Bailey,Austin,40,SR,DL,71.0,262.0,West Friendship,MD,US,DeMatha Catholic HS

In [13]:
game_and_attendance = pd.merge(game_df, game_attendance_df , on='Game Code')

game_and_attendance

,Game Code,Date,Visit Team Code,Home Team Code,Stadium Code,Site,Attendance,Duration
0,5012820130829,08/29/2013,5,128,146,TEAM,35115,169
1,102063020130829,08/29/2013,102,630,18,TEAM,13136,167
2,299004720130829,08/29/2013,299,47,48,TEAM,16327,196
3,305030620130829,08/29/2013,305,306,47,TEAM,40278,229
4,314071820130829,08/29/2013,314,718,58,TEAM,20992,186
5,355033120130829,08/29/2013,355,331,100,TEAM,20790,185
6,433073620130829,08/29/2013,433,736,117,TEAM,40350,219
7,457064820130829,08/29/2013,457,648,113,TEAM,81572,191
8,465042820130829,08/29/2013,465,428,153,TEAM,44217,200
9,587009620130829,08/29/2013,587,96,13,TEAM,33098,266
10,657027720130829,08/29/2013,657,277,39,TEAM,39058,223
11,667064620130829,08/29/2013,667,646,3,TEAM,15240,192
12,711016420130829,08/29/2013,711,164,25,TEAM,30689,185
13,719007120130829,08/29/2013,719,71,96,TEAM,18142,204
14,731073220130829,08/29/2013,731,732,135,TEAM,45237,211
15,769041920130829,08/29/2013,769,419,116,TEAM,20011,178
16,1320074920130829,08/29/2013,1320,749,83,TEAM,26202,183
17,229041520130830,08/30/2013,229,415,30,TEAM,50151,203
18,446072520130830,08/30/2013,446,725,93,TEAM,24245,184
19,493032720130830,08/30/2013,493,327,52,TEAM,53351,200
20,501002920130830,08/30/2013,501,29,11,TEAM,53793,171
21,625025420130830,08/30/2013,625,254,38,TEAM,17606,198
22,665028820130830,08/30/2013,665,288,128,TEAM,26205,218
23,700066320130830,08/30/2013,700,663,122,TEAM,34790,232
24,774041620130830,08/30/2013,774,416,68,TEAM,71214,275
25,8074220130831,08/31/2013,8,742,38,NEUTRAL,73114,193
26,9071620130831,08/31/2013,9,716,4,TEAM,21398,216
27,43069420130831,08/31/2013,43,694,114,TEAM,97169,173
28,66075620130831,08/31/2013,66,756,140,TEAM,71963,180
29,77074620130831,08/31/2013,77,746,137,TEAM,53310,194
...,...,...,...,...,...,...,...,...
818,66052820131224,12/24/2013,66,528,39,NEUTRAL,29106,204
819,545007120131226,12/26/2013,545,71,67,NEUTRAL,26259,203
820,731050320131226,12/26/2013,731,503,16,NEUTRAL,23408,178
821,77075620131227,12/27/2013,77,756,17,NEUTRAL,34136,202
822,388039220131227,12/27/2013,388,392,62,NEUTRAL,30163,214
823,688042820131227,12/27/2013,688,428,128,NEUTRAL,32327,214
824,140045720131228,12/28/2013,140,457,79,NEUTRAL,45211,190
825,415036720131228,12/28/2013,415,367,32,NEUTRAL,51098,193
826,418032720131228,12/28/2013,418,327,10,NEUTRAL,53284,183
827,587051320131228,12/28/2013,587,513,158,NEUTRAL,47122,208
828,28070020131230,12/30/2013,28,700,16,NEUTRAL,52930,223
829,419072620131230,12/30/2013,419,726,125,NEUTRAL,39246,190
830,433025520131230,12/30/2013,433,255,118,NEUTRAL,52125,195
831,529070320131230,12/30/2013,529,703,130,NEUTRAL,65918,186
832,29006720131231,12/31/2013,29,67,60,NEUTRAL,36917,186
833,193069720131231,12/31/2013,193,697,38,NEUTRAL,67946,219
834,574043020131231,12/31/2013,574,430,115,NEUTRAL,57846,185
835,742011020131231,12/31/2013,742,110,124,NEUTRAL,47912,224
836,128005120140101,01/01/2014,128,51,145,NEUTRAL,65172,232
837,312036520140101,01/01/2014,312,365,35,NEUTRAL,51296,207
838,463025720140101,01/01/2014,463,257,28,NEUTRAL,60712,203
839,465049720140101,01/01/2014,465,497,121,NEUTRAL,38380,207
840,674041620140101,01/01/2014,674,416,15,NEUTRAL,95173,199
841,796064820140101,01/01/2014,796,648,32,NEUTRAL,56629,187
842,522000820140102,01/02/2014,522,8,58,NEUTRAL,70473,232
843,147051820140103,01/03/2014,147,518,30,NEUTRAL,72080,225
844,521043420140103,01/03/2014,521,434,155,NEUTRAL,72690,259
845,736028820140104,01/04/2014,736,288,2,NEUTRAL,42717,231
846,30004720140105,01/05/2014,30,47,3,NEUTRAL,36119,199
847,37023420140106,01/06/2014,37,234,15,NEUTRAL,94208,211